/* /* 모바일버전 */
/* width 767px 이하 */
@media screen and (max-width : 767px) {
    .box_inner {
      width: 100%;
    }
    .header_cont {
      width: 100%;
    }
    .mainGnb {
      /* margin-left: auto; */
      width: 100%;
      height: 100%;  
    }
    .mainGnb li a {
      font-size: 16px;
    }
    .typeText {
      font-size: 25px;
    }
  
    /* about content */
    .about_cont {
      padding: 80px 20px;
      text-align: center;
    }
    .about_box {
      flex-direction: column;
      align-items: center;
      }
    .about_img {
      width: 300px;
      padding-top: 50px;
      margin-right: 0;
    }
    .about_me, .about_me2 {
      width: 250px;
      height: 250px;
    }
    .about_txt {
      text-align: left;
    }
    .about_me2 {
      margin-top: 50px;
      margin-left: 30px;
    }
    .hover_me {
      top: 290px;
      left: 100px;
      width: 100px;
      height: 100px;
  
    }
    .about_txt {
      padding-top: 70px;
    }
    
    /* skill content */
    .skill_cont {
      padding-top: 50px;
      padding-left: 20px;
      text-align: center;
      /* margin: 0 auto; */
    }
    .skill_box {
      justify-content: center;
    }
    .html, .psd {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 20px;
    }
    .javascript {
      padding-left: 0;
    }
    .tool_cont {
      padding-top: 50px;
      padding-left: 20px;
      text-align: center;
    }
    .tool_box {
      justify-content: center;
    }
    .vscode {
      padding-left: 0;
    }
    .psd, .ai {
      padding-bottom: 20px;
    }
    .css, .javascript, .ai, .vscode {
      padding-right: 0;
    }
    .html img, .css img, .javascript img, .jquery img,
    .psd img, .ai img, .vscode img, .figma img {
      width: 50px;
      height: 70px;
    }
    .html, .css, .javascript, .jquery,
    .psd, .ai, .vscode, .figma {
      margin-right: 30px;
    }
  
    /* project content */
    .klairs_cont {
      padding-top: 50px;
      padding-left: 0;
      text-align: center;
      }
    .klairs_box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .klairs_img img {
      width: 300px;
      height: 300px;
      padding-right: 0;
      padding-top: 0;
      margin-top: 0;
    }
    .klairs_txt {
      padding-top: 50px;
    }
    .port_cont {
      padding-top: 50px;
      padding-left: 0px;
      text-align: center;
    }
    .port_box {
      flex-direction: column-reverse;
      align-items: center;
    }
    .port_txt {
      padding-top: 50px;
    }
    .port_img img {
      padding-top: 50px;
      padding-left: 0;
      width: 300px;
      height: 300px;
    }
    .aslib_cont {
      padding-top: 50px;
      padding-left: 0;
      text-align: center;
      }
    .aslib_box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .aslib_img img {
      width: 300px;
      height: 300px;
      padding-right: 0;
      padding-top: 0;
      margin-top: 0;
    }
    .aslib_txt {
      padding-top: 50px;
    }
  
    /* footer content */
    .footer_cont p {
      font-size: 14px;
    }
  
    /* font_style */
    .font_style1 {
      font-size: 50px;
    }
    .font_style2 {
      font-size: 50px;
    }
    
  }