/* 태플릿버전 */
/* width 768px ~ 1023px */
@media screen and (max-width : 1023px) and (min-width:768px) {
    .box_inner {
      width: 100%;
    }
    .header_cont {
      width: 100%;
    }
    .typeText {
      font-size: 38px;
    }
  
    /* about content */
    .about_cont {
      padding: 80px 0;
    }
    .about_img {
      padding-top: 80px;
      margin-right: 0;
      text-align: center;
    }
    .about_me, .about_me2 {
      width: 300px;
      height: 300px;
    }
    .about_txt {
      text-align: left;
    }
    .about_me2 {
      margin-top: 80px;
      margin-left: 50px;
    }
    .hover_me {
      top: 370px;
      left: 100px;
      transform: rotate(10deg);
    }
    .about_txt {
      padding-top: 70px;
    }
  
    /* skill content */
    .tool_cont {
      padding-top: 100px;
      }
  
    /* project content */
    .klairs_cont, .port_cont {
      padding: 100px 0 0;
    }
    .klairs_box, .aslib_box {
      flex-direction: column;
      align-items: center;
    }
    .klairs_img img, .aslib_img img {
      padding-top: 50px;
      padding-right: 0;
    }
    .klairs_txt, .port_txt, .aslib_txt {
      padding-top: 50px;
    }
    .port_box {
      flex-direction: column-reverse;
      align-items: center;
    }
    .port_img img {
      padding-top: 50px;
      padding-left: 0;
    }

    .aslib_cont {
      padding: 100px 0;
      text-align: center;
    }
  
    .font_style1 {
      font-size: 60px;
      }
      .font_style2 {
      font-size: 60px;
      }
  }